[package]
name = "scarb-extensions-cli"
version.workspace = true
edition.workspace = true
publish = false


[dependencies]
anyhow = { workspace = true, optional = true }
clap.workspace = true
camino = { workspace = true, optional = true }
cairo-vm = { workspace = true, optional = true }
scarb-ui = { path = "../scarb-ui", optional = true }

[features]
cairo-language-server = []
cairo-test = ["dep:scarb-ui"]
doc = ["dep:scarb-ui"]
execute_unchecked = [
    "dep:anyhow",
    "dep:camino",
    "dep:scarb-ui"
]
execute = [
    "execute_unchecked",
    "dep:anyhow",
    "dep:camino",
    "dep:cairo-vm",
    "dep:scarb-ui",
    "cairo-vm/clap"
]
mdbook = ["dep:camino", "dep:scarb-ui"]
prove = ["execute_unchecked", "dep:scarb-ui"]
verify = ["dep:camino", "dep:scarb-ui"]
default = [
    "cairo-language-server",
    "cairo-test",
    "doc",
    "execute",
    "mdbook",
    "prove",
    "verify",
]
