[workspace]
members = [
    "scarb",
    "scarb-metadata",
    "extensions/scarb-cairo-language-server",
    "extensions/scarb-cairo-test",
    "utils/create-output-dir",
    "utils/test-for-each-example",
]

[workspace.package]
version = "0.4.0"
edition = "2021"
rust-version = "1.70"

authors = ["Software Mansion <contact@swmansion.com>"]
homepage = "https://docs.swmansion.com/scarb"
license = "MIT"
readme = "README.md"
repository = "https://github.com/software-mansion/scarb"

[workspace.dependencies]
anyhow = "1.0.71"
assert_fs = "1.0.13"
async-trait = "0.1.68"
cairo-lang-compiler = "2.0.0-rc2"
cairo-lang-filesystem = "2.0.0-rc2"
cairo-lang-formatter = "2.0.0-rc2"
cairo-lang-language-server = "2.0.0-rc2"
cairo-lang-semantic = "2.0.0-rc2"
cairo-lang-sierra-to-casm = "2.0.0-rc2"
cairo-lang-starknet = "2.0.0-rc2"
cairo-lang-test-runner = "2.0.0-rc2"
cairo-lang-utils = { version = "2.0.0-rc2", features = ["env_logger"] }
camino = { version = "1.1.4", features = ["serde1"] }
cargo_metadata = "0.15.4"
clap = { version = "4.3.0", features = ["derive", "env", "string"] }
clap-verbosity-flag = "2.0.1"
console = "0.15.7"
data-encoding = "2.4.0"
deno_task_shell = "0.12.0"
derive_builder = "0.12.0"
diffy = "0.3.0"
directories = "5.0.1"
dunce = "1.0.4"
fs4 = "0.6.5"
futures = { version = "0.3.28", default-features = false, features = ["std", "async-await"] }
gix = "0.44.1"
ignore = "0.4.20"
include_dir = "0.7.3"
indicatif = "0.17.3"
indoc = "2.0.1"
io_tee = "0.1.1"
itertools = "0.10.5"
libc = "0.2.144"
log = "0.4"
ntest = "0.9.0"
once_cell = "1.17.2"
pathdiff = { version = "0.2.1", features = ["camino"] }
petgraph = "0.6.3"
predicates = "3.0.3"
semver = { version = "1.0.17", features = ["serde"] }
serde = { version = "1.0.163", features = ["serde_derive"] }
serde_json = "1.0.96"
serde_test = "1.0.163"
similar-asserts = { version = "1.4.2", features = ["serde"] }
smol_str = { version = "0.2.0", features = ["serde"] }
snapbox = { version = "0.4.11", features = ["cmd", "path"] }
tempfile = "3.5.0"
test-case = "3.1.0"
thiserror = "1.0.40"
tokio = { version = "1.28.2", features = ["macros", "io-util", "rt", "rt-multi-thread", "sync"] }
toml = "0.7.4"
toml_edit = { version = "0.19.9", features = ["serde"] }
tracing = "0.1.37"
tracing-futures = "0.2.5"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
typed-builder = "0.14.0"
url = { version = "2.3.1", features = ["serde"] }
walkdir = "2.3.3"
which = "4.4.0"
xxhash-rust = { version = "0.8.6", features = ["xxh3"] }
zip = { version = "0.6.6", default-features = false, features = ["deflate"] }

[profile.release]
lto = true
