[workspace]
members = [
    "scarb",
    "scarb-metadata",
    "extensions/scarb-cairo-language-server",
    "utils/create-output-dir"
]

[workspace.package]
version = "0.2.0-alpha.2"
edition = "2021"
rust-version = "1.67"

authors = ["Software Mansion <contact@swmansion.com>"]
homepage = "https://docs.swmansion.com/scarb"
license = "MIT"
readme = "README.md"
repository = "https://github.com/software-mansion/scarb"

[workspace.dependencies]
anyhow = "1.0.71"
assert_fs = "1.0.13"
async-trait = "0.1.68"
cairo-lang-compiler = { version = "1.0.0-rc0" }
cairo-lang-filesystem = { version = "1.0.0-rc0" }
cairo-lang-formatter = { version = "1.0.0-rc0" }
cairo-lang-language-server = { version = "1.0.0-rc0" }
cairo-lang-semantic = { version = "1.0.0-rc0" }
cairo-lang-sierra-to-casm = { version = "1.0.0-rc0" }
cairo-lang-starknet = { version = "1.0.0-rc0" }
cairo-lang-utils = { version = "1.0.0-rc0" }
camino = { version = "1.1.4", features = ["serde1"] }
clap = { version = "4.2.7", features = ["derive", "env", "string"] }
clap-verbosity-flag = "2.0.1"
console = "0.15.5"
data-encoding = "2.3.3"
derive_builder = "0.12.0"
deno_task_shell = "0.11.0"
diffy = "0.3.0"
directories = "5.0.1"
dunce = "1.0.4"
fs4 = "0.6.4"
futures = { version = "0.3.28", default-features = false, features = ["std", "async-await"] }
gix = "0.44.1"
ignore = "0.4.20"
include_dir = "0.7.3"
indicatif = "0.17.3"
indoc = "2.0.1"
io_tee = "0.1.1"
itertools = "0.10.5"
libc = "0.2.143"
ntest = "0.9.0"
once_cell = "1.17.1"
pathdiff = { version = "0.2.1", features = ["camino"] }
petgraph = "0.6.2"
predicates = "3.0.3"
semver = { version = "1.0.17", features = ["serde"] }
serde = { version = "1.0.163", features = ["serde_derive"] }
serde_json = "1.0.95"
serde_test = "1.0.162"
similar-asserts = { version = "1.4.2", features = ["serde"] }
smol_str = { version = "0.2.0", features = ["serde"] }
snapbox = { version = "0.4.11", features = ["cmd", "path"] }
tempfile = "3.5.0"
test-case = "3.1.0"
thiserror = "1.0.39"
tokio = { version = "1.28.1", features = ["macros", "io-util", "rt", "rt-multi-thread", "sync"] }
toml = "0.7.1"
toml_edit = { version = "0.19.8", features = ["serde"] }
tracing = "0.1.37"
tracing-futures = "0.2.5"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
url = { version = "2.3.1", features = ["serde"] }
walkdir = "2.3.2"
which = "4.4.0"
zip = { version = "0.6.4", default-features = false, features = ["deflate"] }

[profile.release]
lto = true
