[workspace]
members = [
    "scarb",
    "scarb-metadata",
    "extensions/scarb-cairo-language-server",
    "extensions/scarb-cairo-run",
    "extensions/scarb-cairo-test",
    "utils/create-output-dir",
    "utils/scarb-build-metadata",
    "utils/scarb-test-support",
    "utils/scarb-ui",
    "utils/test-for-each-example",
    "xtask",
]
"resolver" = "2"

[workspace.package]
version = "2.3.0-rc1"
edition = "2021"

authors = ["Software Mansion <contact@swmansion.com>"]
homepage = "https://docs.swmansion.com/scarb"
license = "MIT"
readme = "README.md"
repository = "https://github.com/software-mansion/scarb"

[workspace.dependencies]
anyhow = "1"
assert_fs = "1"
async-trait = "0.1"
cairo-lang-compiler = "2.3.0"
cairo-lang-defs = "2.3.0"
cairo-lang-filesystem = "2.3.0"
cairo-lang-formatter = "2.3.0"
cairo-lang-language-server = "2.3.0"
cairo-lang-runner = "2.3.0"
cairo-lang-semantic = "2.3.0"
cairo-lang-sierra = "2.3.0"
cairo-lang-sierra-to-casm = "2.3.0"
cairo-lang-starknet = "2.3.0"
cairo-lang-test-plugin = "2.3.0"
cairo-lang-test-runner = "2.3.0"
cairo-lang-utils = { version = "2.3.0", features = ["env_logger"] }
camino = { version = "1", features = ["serde1"] }
cargo_metadata = "0.18"
clap = { version = "4", features = ["derive", "env", "string"] }
clap-verbosity-flag = "2"
console = "0.15"
data-encoding = "2"
deno_task_shell = "0.13"
derive_builder = "0.12"
directories = "5"
dunce = "1"
fs4 = "0.7"
futures = { version = "0.3", default-features = false, features = ["std", "async-await"] }
gix = "0.54"
glob = "0.3"
ignore = "0.4"
include_dir = "0.7"
indicatif = "0.17"
indoc = "2"
io_tee = "0.1"
itertools = "0.11"
libc = "0.2"
log = "0.4"
ntest = "0.9"
once_cell = "1"
pathdiff = { version = "0.2", features = ["camino"] }
petgraph = "0.6"
predicates = "3"
proc-macro2 = "1"
quote = "1"
semver = { version = "1", features = ["serde"] }
serde = { version = "1", features = ["serde_derive"] }
serde-untagged = "0.1"
serde-value = "0.7"
serde_json = "1"
serde_repr = "0.1"
serde_test = "1"
sha2 = "0.10"
similar-asserts = { version = "1", features = ["serde"] }
smallvec = "1"
smol_str = { version = "0.2", features = ["serde"] }
snapbox = { version = "0.4", features = ["cmd", "path"] }
syn = "2"
tar = "0.4"
tempfile = "3"
test-case = "3"
thiserror = "1"
time = "0.3"
tokio = { version = "1", features = ["macros", "io-util", "rt", "rt-multi-thread", "sync"] }
toml = "0.8"
toml_edit = { version = "0.20", features = ["serde"] }
tracing = "0.1"
tracing-log = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
typed-builder = "0.16"
url = { version = "2", features = ["serde"] }
walkdir = "2"
which = "4"
windows-sys = "0.48"
xshell = "0.2"
xxhash-rust = { version = "0.8", features = ["xxh3"] }
zip = { version = "0.6", default-features = false, features = ["deflate"] }
zstd = "0.12"

[profile.release]
lto = true

[profile.ci]
inherits = "test"
strip = "debuginfo"
