[workspace]
members = [
    "scarb",
    "scarb-metadata",
    "utils/create-output-dir"
]

[workspace.package]
version = "0.1.0-rc.2"
edition = "2021"
rust-version = "1.67"

authors = ["Software Mansion <contact@swmansion.com>"]
homepage = "https://docs.swmansion.com/scarb"
license = "MIT"
readme = "README.md"
repository = "https://github.com/software-mansion/scarb"

[workspace.dependencies]
anyhow = "1.0.70"
assert_fs = { version = "1.0.9", features = ["color-auto"] }
async-trait = "0.1.66"
cairo-lang-compiler = "1.0.0-alpha.6"
cairo-lang-filesystem = "1.0.0-alpha.6"
cairo-lang-formatter = "1.0.0-alpha.6"
cairo-lang-sierra-to-casm = "1.0.0-alpha.6"
cairo-lang-starknet = "1.0.0-alpha.6"
cairo-lang-utils = "1.0.0-alpha.6"
camino = { version = "1.1.4", features = ["serde1"] }
clap = { version = "4.1", features = ["derive", "env", "string"] }
clap-verbosity-flag = "2.0.0"
console = "0.15.5"
data-encoding = "2.3.3"
derive_builder = "0.12.0"
diffy = "0.3.0"
directories = "4.0.1"
dunce = "1.0.3"
fs4 = "0.6.2"
futures = { version = "0.3.26", default-features = false, features = ["std", "async-await"] }
gix = "0.42.0"
ignore = "0.4.20"
include_dir = "0.7.3"
indicatif = "0.17.3"
indoc = "2.0.1"
io_tee = "0.1.1"
itertools = "0.10.5"
libc = "0.2.140"
ntest = "0.9.0"
once_cell = "1.17.1"
pathdiff = { version = "0.2.1", features = ["camino"] }
petgraph = "0.6.2"
predicates = { version = "2.1.3", features = ["color-auto"] }
semver = { version = "1.0.17", features = ["serde"] }
serde = { version = "1.0.158", features = ["serde_derive"] }
serde_json = "1.0.94"
serde_test = "1.0.147"
similar-asserts = { version = "1.4.2", features = ["serde"] }
smol = "1.3.0"
smol-potat = "1.1.2"
smol_str = { version = "0.1.23", features = ["serde"] }
snapbox = { version = "0.4.10", features = ["cmd", "path"] }
tempfile = "3.4.0"
test-case = "3.0.0"
thiserror = "1.0.39"
toml = "0.7.1"
toml_edit = { version = "0.19.7", features = ["serde"] }
tracing = "0.1.37"
tracing-futures = "0.2.5"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
url = { version = "2.3.1", features = ["serde"] }
walkdir = "2.3.2"
which = "4.4.0"
zip = { version = "0.6.4", default-features = false, features = ["deflate"] }

[profile.release]
lto = true
