[workspace]
members = [
    "scarb",
    "scarb-metadata",
    "extensions/scarb-cairo-language-server",
    "extensions/scarb-cairo-run",
    "extensions/scarb-cairo-test",
    "utils/create-output-dir",
    "utils/scarb-build-metadata",
    "utils/scarb-test-support",
    "utils/scarb-ui",
    "utils/test-for-each-example",
    "xtask",
]
"resolver" = "2"

[workspace.package]
version = "0.7.0"
edition = "2021"

authors = ["Software Mansion <contact@swmansion.com>"]
homepage = "https://docs.swmansion.com/scarb"
license = "MIT"
readme = "README.md"
repository = "https://github.com/software-mansion/scarb"

[workspace.dependencies]
anyhow = "1.0.75"
assert_fs = "1.0.13"
async-trait = "0.1.73"
cairo-lang-compiler = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-defs = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-filesystem = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-formatter = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-language-server = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-runner = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-semantic = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-sierra = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-sierra-to-casm = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-starknet = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-test-runner = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab" }
cairo-lang-utils = { git = "https://github.com/maciektr/cairo.git", rev = "d5a43e83bb1b423d9a09e2942338424dfb7074ab", features = ["env_logger"] }
camino = { version = "1.1.6", features = ["serde1"] }
cargo_metadata = "0.17.0"
clap = { version = "4.4.2", features = ["derive", "env", "string"] }
clap-verbosity-flag = "2.0.1"
console = "0.15.7"
data-encoding = "2.4.0"
deno_task_shell = "0.13.1"
derive_builder = "0.12.0"
diffy = "0.3.0"
directories = "5.0.1"
dunce = "1.0.4"
fs4 = "0.6.6"
futures = { version = "0.3.28", default-features = false, features = ["std", "async-await"] }
gix = "0.50.1"
glob = "0.3.1"
ignore = "0.4.20"
include_dir = "0.7.3"
indicatif = "0.17.6"
indoc = "2.0.3"
io_tee = "0.1.1"
itertools = "0.11.0"
libc = "0.2.147"
log = "0.4"
ntest = "0.9.0"
once_cell = "1.17.2"
pathdiff = { version = "0.2.1", features = ["camino"] }
petgraph = "0.6.4"
predicates = "3.0.3"
semver = { version = "1.0.18", features = ["serde"] }
serde = { version = "1.0.188", features = ["serde_derive"] }
serde-value = "0.7.0"
serde_json = "1.0.106"
serde_test = "1.0.176"
similar-asserts = { version = "1.5.0", features = ["serde"] }
smallvec = "1.11.0"
smol_str = { version = "0.2.0", features = ["serde"] }
snapbox = { version = "0.4.12", features = ["cmd", "path"] }
tempfile = "3.8.0"
test-case = "3.1.0"
thiserror = "1.0.48"
time = "0.3.28"
tokio = { version = "1.32.0", features = ["macros", "io-util", "rt", "rt-multi-thread", "sync"] }
toml = "0.7.8"
toml_edit = { version = "0.19.9", features = ["serde"] }
tracing = "0.1.37"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
typed-builder = "0.15.1"
url = { version = "2.4.1", features = ["serde"] }
walkdir = "2.4.0"
which = "4.4.0"
xshell = "0.2.5"
xxhash-rust = { version = "0.8.7", features = ["xxh3"] }
zip = { version = "0.6.6", default-features = false, features = ["deflate"] }

[profile.release]
lto = true

[profile.ci]
inherits = "test"
strip = "debuginfo"
