[workspace]
members = [
    "crates/*",
]

[workspace.scripts]
test = "snforge"

[workspace.tool.snforge]
exit_first = true

[workspace.dependencies]
cairo_test = "2.6.0"
starknet = "2.6.0"

[workspace.package]
version = "0.1.0"

[package]
name = "workspaces"
version.workspace = true

[scripts]
test.workspace = true

[tool]
snforge.workspace = true

[dependencies]
starknet.workspace = true
fibonacci = { path = "crates/fibonacci" }
addition = { path = "crates/addition" }

[dev-dependencies]
cairo_test.workspace = true

[[target.starknet-contract]]
