[package]
name = "scarb-oracle-hint-service"
version = "0.1.0"
edition.workspace = true

authors.workspace = true
categories = ["development-tools"]
description = "Oracle hint service used by Scarb"
homepage.workspace = true
keywords = ["cairo-lang", "starknet", "scarb", "oracle"]
license.workspace = true
readme = "README.md"
repository.workspace = true

[dependencies]
anyhow.workspace = true
starknet-core.workspace = true
tracing.workspace = true

# Dependencies used only by the builtin protocols are optional and enabled by corresponding features.
deno_task_shell = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
wasmtime = { workspace = true, optional = true }
wasmtime-wasi = { workspace = true, optional = true }

[features]
# Feature per protocol. Names correspond to Protocol::SCHEME values.
# Default includes all builtin protocols.
default = ["shell", "wasm"]
shell = ["dep:deno_task_shell", "dep:tokio"]
wasm = ["dep:wasmtime", "dep:wasmtime-wasi"]

[dev-dependencies]
itertools.workspace = true
