name: Release Check

on:
  workflow_dispatch:
    inputs:
      ref:
        required: false
        type: string
      fail-fast:
        required: false
        type: boolean
        default: true
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
      fail-fast:
        required: false
        type: boolean
        default: true

env:
  # TODO(#1915): Use stable toolchain once stwo is stable.
  RUST_NIGHTLY_TOOLCHAIN: "nightly-2025-07-14"

jobs:
  test:
    name: test ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        include:
          - name: linux x86-64
            os: ubuntu-latest
          - name: macos aarch64
            os: [self-hosted, macOS, ARM64]
          - name: windows x86-64
            os: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --profile=ci --all-features --no-fail-fast --workspace --exclude scarb-prove --exclude scarb-verify
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_NIGHTLY_TOOLCHAIN }}
      - name: Run nightly light tests
        run: cargo +${{ env.RUST_NIGHTLY_TOOLCHAIN }} test --profile=ci --no-fail-fast -p scarb-prove -p scarb-verify --no-default-features

      - name: Run nightly heavy tests
        run: cargo +${{ env.RUST_NIGHTLY_TOOLCHAIN }} test --profile=ci --no-fail-fast -p scarb-prove -p scarb-verify --test heavy -- --test-threads=1

  snforge-init:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: foundry-rs/setup-snfoundry@v4
      - run: cargo test --profile=ci --package scarb --test snforge_init new_simple -- --ignored

  test-prebuilt-plugins:
    name: test prebuilt plugins ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    # This is isolated, so it can be run on more platforms.
    strategy:
      fail-fast: false
      matrix:
        platform:
          # linux x86-64 and windows x86-64 are tested in the main test job.
          - name: macos arm64
            os: [self-hosted, macOS, ARM64]
          - name: macos x86-64
            os: [self-hosted, macOS, X64]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - name: Run prebuilt plugin tests
        run: cargo test -p scarb --profile=ci --test proc_macro_v1_prebuilt proc_macro_v2_prebuilt
