name: Release Check

on:
  workflow_dispatch:
    inputs:
      ref:
        required: false
        type: string
      fail-fast:
        required: false
        type: boolean
        default: true
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
      fail-fast:
        required: false
        type: boolean
        default: true

jobs:
  test:
    name: test ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        include:
          - name: linux x86-64
            os: ubuntu-latest
          - name: macos aarch64
            os: macos-14
          - name: windows x86-64
            os: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --profile=ci --no-fail-fast
  
#  snforge-init:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#      - uses: dtolnay/rust-toolchain@stable
#      - uses: foundry-rs/setup-snfoundry@v3
#      - run: cargo test --profile=ci --package scarb --test snforge_init new_simple -- --ignored
