name: Release Check

on:
  workflow_dispatch:
    inputs:
      ref:
        required: false
        type: string
      fail-fast:
        required: false
        type: boolean
        default: true
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
      fail-fast:
        required: false
        type: boolean
        default: true

env:
  # TODO(#1915): Use stable toolchain once stwo is stable.
  RUST_NIGHTLY_TOOLCHAIN: "nightly-2025-01-02"

jobs:
  test:
    name: test ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        include:
          - name: linux x86-64
            os: ubuntu-latest
          - name: macos aarch64
            os: macos-14
          - name: windows x86-64
            os: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --profile=ci --no-fail-fast --workspace --exclude scarb-prove --exclude scarb-verify
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_NIGHTLY_TOOLCHAIN }}
      - run: cargo +${{ env.RUST_NIGHTLY_TOOLCHAIN }} test --profile=ci --no-fail-fast -p scarb-prove -p scarb-verify

  snforge-init:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: foundry-rs/setup-snfoundry@v3
      - run: cargo test --profile=ci --package scarb --test snforge_init new_simple -- --ignored

  test-prebuilt-plugins:
    name: test prebuilt plugins ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    # This is isolated, so it can be run on more platforms.
    strategy:
      fail-fast: false
      matrix:
        platform:
          # Linux and windows are tested in the main test job.
          # - name: linux x86-64
          #   os: ubuntu-latest
          # - name: windows x86-64
          #   os: windows-latest
          - name: macos arm64
            os: macos-latest
          - name: macos x86-64
            os: macos-13
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Run prebuilt plugin tests
        run: |
          cargo test -p scarb --profile=ci --test proc_macro_prebuilt
