name: Release

on:
  push:
    tags:
      - v[0-9]+.*

permissions:
  contents: write

jobs:
  check:
    uses: ./.github/workflows/_check-release.yml

  release:
    uses: ./.github/workflows/_build-release.yml
    with:
      scarb-tag: ${{ github.ref_name }}

  draft:
    name: draft release
    runs-on: ubuntu-latest
    needs: [ check, release ]
    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts-dl

      - name: Unpack artifacts to staging directory
        run: |
          mkdir -p artifacts
          mv artifacts-dl/build-*/scarb-* artifacts/
          mv artifacts-dl/checksums/* artifacts/
          ls -lh artifacts/

      - name: Draft GitHub release
        run: |
          gh release create \
            '${{ github.ref_name }}' \
            ./artifacts/* \
            --draft \
            --title '${{ github.ref_name }}' \
            --generate-notes \
            --verify-tag
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
